{% extends "layout.html.twig" %}

{% block content %}
    <div class="global-note-actions">
        <button class="button button--basic" onclick="saveNote('{{ note.id }}')">Save</button>
    </div>
    <div class="note">
        <div class="note-header">
            <h3>{{ note.path }}</h3>
            <h2>{{ note.title }}</h2>
            <small>Last modified: {{ note.lastModified }} &middot; <a href="javascript:;" onclick="deleteNote('{{ note.id }}')">Delete</a></small>
        </div>
        <input type="hidden" id="note-id" value="{{ note.id }}">
        <textarea class="plain-editor" spellcheck="false" id="note-initial-content">{{ note.markdown | raw }}</textarea>
        <div id="editor" spellcheck="false"></div>
    </div>
{% endblock %}
